{% extends 'nerdbudget/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST" class="col-6 mx-auto">
  {% csrf_token %}
  <div class="form-group row">
    <div class="col-6">
      <input class="form-control" readonly="readonly" value="{{ ledger.date|date:'Y-m-d' }}" />
    </div>
    <div class="col-6">
      <input class="form-control text-right" readonly="readonly" value="{{ ledger.amount }}" />
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" readonly="readonly" value="{{ ledger.description }}" />
  </div>
  <div class="form-group">
    <input class="form-control" readonly="readonly" value="{{ ledger.pattern }}" />
  </div>
  <input type="hidden" name="budget" />
  <div class="list-group">
    {% for category in categories %}
    {% for budget in category.budget_set.all %}
    <button type="button" class="list-group-item list-group-item-action" data-id="{{ budget.id }}">
      {{ budget.category.name }} - {{ budget.name }}
    </button>
    {% endfor %}
    {% endfor %}
  </div>
</form>

<script type="text/javascript">
  $(function () {
    $('button').click(function () {
      var $this = $(this);
      var id = $this.data('id');
      $('input[name=budget]').val(id);
      $this.closest('form').submit();
    });

  });
</script>
{% include 'ledger/_ledger.html' %}
{% endblock content %}
